a {
    appearance: none;
    text-decoration: none;
    color: unset;
}
.nav__item a {
    color: #600B0B;
    text-decoration: none;
} 
.nav__item a:hover {
    text-decoration: underline;
    font-style: italic;
}  
.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}    
.nav__item {
    font-family: "PT Serif", serif;
    font-size: 24px;
    color: #600B0B;
    font-weight: 700;
    margin: 16px; 
}
.logo__container {
    text-align: center;
}
.logo__container img {
    margin: 56px;
    width: 150px;
}

.about__text {
    text-align: center;
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 300;
    line-height: 32px;
    margin: 16px 10%;
}

.index-arrow__container {
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
}
.index-arrow__container i {
    font-size: 32px;
    color: #600B0B;
}
.index-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0;
}

.index-section__title {
    font-family: "PT Serif", serif;
    font-size: 32px;
    color: #600B0B;
    font-weight: 700;
    margin-bottom: 8px;
}

.index-section__subtitle {
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: #600B0B;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.index-section__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-section__item {
    width: 48%;
    background: #4A4A4A;
    margin: 8px 4px;
    max-width: 600px;
    text-align: center;
    justify-content: space-between;
    height: 280px;
}
.mobile-nav__container {
    display: none;
}



.index-section__image {
    width: 100%;
}

.index-section__text {
    color: white;
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    line-height: 270px;

}

#editore__item {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Caratteri-mobili-tipografici-tipografia.jpg);
    background-size: cover;
}

#tipografia__item {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Caratteri-mobili-tipografici-tipografia.jpg);
    background-size: cover;
}


.contact-section__container {
    background-color: #600B0B;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.contact__heading {
    font-family: "PT Serif", serif;
    font-size: 32px;
    color: white;
    text-align: center;
    margin: 80px 0 56px 0;
}

.contact__paragraph {
    font-family: "PT Serif", serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0 20px 120px;
}


.footer__container {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.footer__text {
    font-family: "PT Serif", serif;
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 32px 0;
    padding: 8px;
}


@media screen and (max-width: 667px) {
        .index-section__items {
            flex-direction: column;
        }
        .index-section__item {
            width: 100%;
            margin: 8px 0;
        }
        .nav__item {
            font-size: 16px;
        }
        .mobile-nav__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 56px;
        }
        .mobile-nav__item {
            font-family: "PT Serif", serif;
            font-size: 20px;
            color: #600B0B;
        }
        .nav__container {
            display: none;
        }
        .mobile-nav__container .material-icons {
            font-size: 32px;
            color: #600B0B;
        }
        .contact__paragraph {
            font-family: "PT Serif", serif;
            font-size: 20px;
            color: white;
            text-align: center;
            margin: 0 20px 96px;
        }
        .contact__heading {
            margin: 80px 0 32px 0;
        }
        .contact-section__container {
            margin-top: 0;
        }
        .about__text {
            font-size: 16px;
            line-height: 24px;
        }
}